#box {
    width: 200px;
    height: 200px;
    /*background-color: brown;*/
    background-color: red;
    transition: all 6s;
}

#box:hover {
    width : 400px;
    height: 400px;
    /*background-color: blue;*/
    background: linear-gradient(to right, red 33%,white 33%, white 66% ,red 66%);
     /*  transform: translate(50px , 50px)*/
    transform: translate(50px);
    transition:  all 2s